
@font-face {
    font-family: 'AllerLightRegular';
    src: url('../../fonts/aller_lt-webfont.eot');
    src: url('../../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/aller_lt-webfont.woff') format('woff'),
         url('../../fonts/aller_lt-webfont.ttf') format('truetype'),
         url('../../fonts/aller_lt-webfont.svg#AllerLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerDisplayRegular';
    src: url('../../fonts/allerdisplay-webfont.eot');
    src: url('../../fonts/allerdisplay-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/allerdisplay-webfont.woff') format('woff'),
         url('../../fonts/allerdisplay-webfont.ttf') format('truetype'),
         url('../../fonts/allerdisplay-webfont.svg#AllerDisplayRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.home-bg{
	padding-top:80px;
}

.align-center{
	text-align:center;
}

.featured-unit{
	padding:100px 0 50px;
	text-align:center;
}
.featured-unit h1{
	font-size:40px;
	line-height:72px;
}
.featured-unit h2,
.featured-unit h3{
	font-weight:normal;
}
.featured-unit h2{
	font-size:16px;
}
.featured-unit h3{
	font-size:26px;
	color:#adc30d;
	margin-top:30px;
}
.featured-unit p{
	margin:40px 0 0;
}

.animation-wrap{
	height:370px;
	padding:15px;
}

.animation-box{
	padding:12px;
	background-color:#333333;
	color:#FFFFFF;
	width:250px;
}

.footer{
	border-top:1px solid #ccc;
	padding:25px 0;
	margin-top:50px;
}

.slideshow-wrap{
	height:350px;
	padding-top:150px;
	background-color:#FFFFFF;
	-webkit-box-shadow: inset 0px -2px 8px 1px rgba(00, 00, 00, .25);
	box-shadow: inset 0px -2px 8px 1px rgba(00, 00, 00, .25);
	margin-bottom:50px;
}
.slideshow-one{
	text-align:center;
}
.slideshow-one h1{
	font-size:100px;
	color:#b8d30b;
	text-transform:uppercase;
	font-family: 'AllerDisplayRegular';
	line-height: 118px;
}
.slideshow-one h2{
	font-size:40px;
	font-family: 'AllerLightRegular';
}

.heading{
	margin-bottom:50px;
}

.features{
	margin-bottom:50px;
}
.features img{
	margin-bottom:30px;
}
.features h3{
	margin-bottom:8px;
}

pre b{
	color:#990000;
}

@media (max-width: 767px) {
	.featured-unit{
		margin:80px 0 110px;
	}
	.featured-unit h1{
		font-size:65px;
		line-height:65px;
	}
	.featured-unit h2{
		font-size:16px;
		margin:8px 0 0 0;
		text-align:center;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.featured-unit h2{
		font-size:16px;
		margin:8px 0 0 0;
		text-align:center;
	}
}