
@font-face {
<<<<<<< HEAD
    font-family: 'MavenProBlack';
    src: url('../../fonts/mavenpro-black-webfont.eot');
    src: url('../../fonts/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/mavenpro-black-webfont.woff') format('woff'),
         url('../../fonts/mavenpro-black-webfont.ttf') format('truetype'),
         url('../../fonts/mavenpro-black-webfont.svg#MavenProBlack') format('svg');
=======
    font-family: 'AllerLightRegular';
    src: url('../../fonts/aller_lt-webfont.eot');
    src: url('../../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/aller_lt-webfont.woff') format('woff'),
         url('../../fonts/aller_lt-webfont.ttf') format('truetype'),
         url('../../fonts/aller_lt-webfont.svg#AllerLightRegular') format('svg');
>>>>>>> d1aa1d6445031fe106e343ac766cac2fbda69572
    font-weight: normal;
    font-style: normal;
}

@font-face {
<<<<<<< HEAD
    font-family: 'MavenProRegular';
    src: url('../../fonts/mavenpro-regular-webfont.eot');
    src: url('../../fonts/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/mavenpro-regular-webfont.woff') format('woff'),
         url('../../fonts/mavenpro-regular-webfont.ttf') format('truetype'),
         url('../../fonts/mavenpro-regular-webfont.svg#MavenProRegular') format('svg');
=======
    font-family: 'MavenProBlack';
    src: url('../../maven_pro_black-webfont.eot');
    src: url('../../maven_pro_black-webfont.eot?#iefix') format('eot'),
         url('../../maven_pro_black-webfont.woff') format('woff'),
         url('../../maven_pro_black-webfont.ttf') format('truetype'),
         url('../../maven_pro_black-webfont.svg#webfontNOU7iUTL') format('svg');
>>>>>>> d1aa1d6445031fe106e343ac766cac2fbda69572
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MavenProBold';
<<<<<<< HEAD
    src: url('../../fonts/mavenpro-bold-webfont.eot');
    src: url('../../fonts/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/mavenpro-bold-webfont.woff') format('woff'),
         url('../../fonts/mavenpro-bold-webfont.ttf') format('truetype'),
         url('../../fonts/mavenpro-bold-webfont.svg#MavenProBold') format('svg');
=======
    src: url('../../maven_pro_bold-webfont.eot');
    src: url('../../maven_pro_bold-webfont.eot?#iefix') format('eot'),
         url('../../maven_pro_bold-webfont.woff') format('woff'),
         url('../../maven_pro_bold-webfont.ttf') format('truetype'),
         url('../../maven_pro_bold-webfont.svg#webfontNOU7iUTL') format('svg');
>>>>>>> d1aa1d6445031fe106e343ac766cac2fbda69572
    font-weight: normal;
    font-style: normal;
}

@font-face {
<<<<<<< HEAD
    font-family: 'MavenProBlack';
    src: url('../../fonts/mavenpro-black-webfont.eot');
    src: url('../../fonts/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/mavenpro-black-webfont.woff') format('woff'),
         url('../../fonts/mavenpro-black-webfont.ttf') format('truetype'),
         url('../../fonts/mavenpro-black-webfont.svg#MavenProBlack') format('svg');
=======
    font-family: 'MavenProMedium';
    src: url('../../maven_pro_medium-webfont.eot');
    src: url('../../maven_pro_medium-webfont.eot?#iefix') format('eot'),
         url('../../maven_pro_medium-webfont.woff') format('woff'),
         url('../../maven_pro_medium-webfont.ttf') format('truetype'),
         url('../../maven_pro_medium-webfont.svg#webfontNj5iy4Dl') format('svg');
>>>>>>> d1aa1d6445031fe106e343ac766cac2fbda69572
    font-weight: normal;
    font-style: normal;
}

.home-bg{
	padding-top:82px;
}

.align-center{
	text-align:center;
}

.animation-wrap{
	height:370px;
	padding:15px;
}

.animation-box{
	padding:12px;
	background-color:#333333;
	color:#FFFFFF;
	width:250px;
}

.footer{
	border-top:1px solid #ccc;
	padding:25px 0;
	margin-top:50px;
}

.slideshow-wrap{
	padding-top:100px;
	margin-bottom:50px;
}
.slideshow-one{
	text-align:center;
}
.slideshow-one h1{
	font-size:100px;
	color:#adc60a;
	text-transform:uppercase;
	font-family: 'MavenProBlack';
	letter-spacing:-5px;
	line-height: 118px;
	font-weight:700;

	
}
.slideshow-one h2{
	font-size:40px;
	font-family: 'MavenProMedium';
	text-transform:none
}
.slideshow-one h3{
	font-size:18px;
<<<<<<< HEAD
	font-family: 'MavenProRegular';
=======
	font-family: 'AllerLightRegular';
>>>>>>> d1aa1d6445031fe106e343ac766cac2fbda69572
	text-transform:none;

}

.heading{
	margin-bottom:50px;
}

.features{
	margin-bottom:50px;
}
.features img{
	margin-bottom:30px;
}
.features h3{
	margin-bottom:8px;
}

pre b{
	color:#990000;
}